<div class="movieSelection"> 
    <h4>Movie Selection</h4>

    <div class="card-deck">
        {{# each content}}
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">ID: {{this.movieID}}</h5>
                <p class="card-text">{{this.movieName}}</p>
                <a href="#" class="btn btn-primary">Like</a>
                </div>
                <div class="card-footer">
                <small class="text-muted">TODO: Add Genre</small>
                </div>
            </div>
        {{/each}}
    </div>

    <a href="/logout">Logout</a>
</div> 

