<!DOCTYPE html>

<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/{{style}}">
        <title>Movies Marketplace</title>
    </head>
    <body> 
        <h1> Movies Marketplace </h1>
    </body>
</html>