<div> 

    <h4>Movie Selection</h4>


    <div>
    <!-- List of Movies -->
    <table>
        {{#fromDB}}
        <tr>
            <th>{{movieID}}</th>
            <th>hi</th>
        </tr>
         {{/fromDB}}

    </table> 

    </div>

</div> 

