  
<div class="row">
    <div id="login-form" class="col text-center">
        <h4>Login</h4>
      <div>
        
        <label for="username">Username:</label>
        <input type="text" id="usernameField" name="username" value="{{username}}">
        </br>
        <label for="password">Password:</label>
        <input type="password" id="passwordField" name="password" value="{{password}}">

      </div>

      <div class="error">
        {{ message }}
      </div>

      <button class="btn btn-primary" id="loginButton" type="submit">Log In</button>

    </div>
</div>